.characteristic
	.central-block
		article.characteristic__items
			section.characteristic__item
				h2.characteristic__title Небольшая площадь
				.characteristic__number — №3 —
				p.characteristic__text Все интересные места находятся очень близко

			section.characteristic__item
				h2.characteristic__title Красивая дорога
				.characteristic__number — №4 —
				p.characteristic__text Ехать В Седону из Лас-Вегаса совсем не скучно!

			section.characteristic__item
				h2.characteristic__title Мало туристов
				.characteristic__number — №5 —
				p.characteristic__text Большинство едет в гранд каньон и толпится там