.contacts
	section.contacts__info-block
		.central-block
			.contacts__info
				h2.contacts__title Заинтересовались?
				p.contacts__text Укажите предполагаемые даты поездки, и мы покажем вам лучшие предложения гостиниц в седоне
				button.contacts__btn Найти гостинницу
	section.contacts__map
		picture
			source(media="(min-width: 1200px)" srcset="img/bg-map-desktop@1x.jpg")
			source(media="(min-width: 768px)" srcset="img/bg-map-tablet@1x.jpg")
			img(src="img/bg-map-mobile@1x.jpg" alt="map")
		img.contacts__marker(src="img/icon-map-marker.svg" alt="map-marker")