.contacts
	section.contacts__info-block
		.central-block
			.contacts__info
				h2.contacts__title Заинтересовались?
				p.contacts__text Укажите предполагаемые даты поездки, и мы покажем вам лучшие предложения гостиниц в седоне
				button.contacts__btn Найти гостинницу
	section.contacts__map
		img.contacts__marker(src="img/icon-map-marker.svg" alt="map-marker")