.devil-bridge
	section.devil-bridge__text-block
		.central-block
			.devil-bridge__inner-block
				h2.devil-bridge__title Там есть мост дьявола
				.devil-bridge__number — №2 —
				p.devil-bridge__text Да, по нему можно пройти! Если вы осмелитесь, конечно
	section.devil-bridge__img
		img(src="img/photo-bridge-mobile@1x.jpg" alt="photo-bridge")