.devil-bridge
	section.devil-bridge__text-block
		.central-block
			.devil-bridge__inner-block
				h2.devil-bridge__title Там есть мост дьявола
				.devil-bridge__number — №2 —
				p.devil-bridge__text Да, по нему можно пройти! Если вы осмелитесь, конечно
	section.devil-bridge__img
		picture
			source(media="(min-width: 1200px)" srcset="img/photo-bridge-desktop@1x.jpg, img/photo-bridge-desktop@2x.jpg 2x")
			source(media="(min-width: 768px)" srcset="img/photo-bridge-desktop@1x.jpg, img/photo-bridge-desktop@2x.jpg 2x")
			img(src="img/photo-bridge-mobile@1x.jpg" srcset="img/photo-bridge-mobile@2x.jpg 2x")