.five
	img.five__img1(src="img/bg-intro-triangle-mobile.svg" alt="bg-intro-triangle-mobile")
	img.five__img2(src="img/bg-triangle.svg" alt="bg-triangle")
	.central-block
		section.five__text-block
			h2.five__title Седона — небольшой городок в аризоне, заслуживающий большего!
			p.five__text Рассмотрим 5 причин, по которым Седона круче чем гранд каньон!