.five
	.five__img1
	.five__img2
	.central-block
		section.five__text-block
			h2.five__title Седона — небольшой городок в аризоне, заслуживающий большего!
			p.five__text Рассмотрим 5 причин, по которым Седона круче чем гранд каньон!