.real-town
	section.real-town__text-block
		.central-block
			.real-town__inner-block
				h2.real-town__title Настоящий городок
				.real-town__number — №1 —
				p.real-town__text Седона не аттракцион для туристов, там течет своя жизнь
	section.real-town__img
		picture
			source(media="(min-width: 1200px)" srcset="img/photo-city-desktop@1x.jpg, img/photo-city-desktop@2x.jpg 2x")
			source(media="(min-width: 768px)" srcset="img/photo-city-desktop@1x.jpg, img/photo-city-desktop@2x.jpg 2x")
			img(src="img/photo-city-mobile@1x.jpg" srcset="img/photo-city-mobile@2x.jpg 2x" alt="photo-city-mobile")