.real-town
	section.real-town__text-block
		.central-block
			.real-town__inner-block
				h2.real-town__title Настоящий городок
				.real-town__number — №1 —
				p.real-town__text Седона не аттракцион для туристов, там течет своя жизнь
	section.real-town__img
		img(src="img/photo-city-mobile@1x.jpg" alt="photo-city-mobile")