.services
	.central-block
		article.services__items
			section.services__item
				.services__img
					img(src="img/icon-house.svg" alt="icon-house")
				h2.services__title Жилье
				p.services__text Рекомендуем пожить в настоящем мотеле, все как в кино!

			section.services__item
				.services__img
					img(src="img/icon-gift.svg" alt="icon-gift")
				h2.services__title Сувениры
				p.services__text Не только китайского, но и местного производства!

			section.services__item
				.services__img
					img(src="img/icon-burger.svg" alt="icon-burger")
				h2.services__title Еда
				p.services__text Всегда заказывайте фирменный бургер, вы не разочаруетесь!