.review {
    min-height: 200px;
    background: #ffffff;
    position: relative;
    border-bottom: 1px solid #E5E5E5;
    .central-block {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img {
        height: 26px;
        position: absolute;
        top: -25px;
        left: 0;
    }
    &__img img {
        height: 26px;        
    }    
    &__title {
        @include title-font();
        text-align: center;
    }
    &__text {
        @include text-font();
        font-weight: normal;
        text-align: center;
        width: 280px;
    }
}

@media (min-width: 768px) {
    .review {
        border-bottom: none;
        &__title {
            @include title-font4();
        }
        &__text {
            width: 450px;
        }
        &__img {
            height: 57px;            
            top: -56px;            
            left: 50%;
            margin-left: -384px;           
        }
        &__img img {
            height: 57px;            
            width: 100%;           
        }
    }
}

@media (min-width: 1200px) {
    .review {       
        &__img {                       
            margin-left: -600px;           
        }
    }
}