html {
	@include main-font();
}
.main-central-block {		
	min-width: 320px;
	max-width: 1280px;
	margin: 0 auto;	
}

img {
	max-width: 100%;
	height: auto;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
}

@media (max-width: 767px) {
	.central-block {		
		width: 280px;
		margin: 0 auto;	
	}
	.main-central-block {
		width: 320px;		
	}
}

@media (min-width: 321px) {	
	.main-central-block {		
		border-left: 1px solid $grey-color;
		border-right: 1px solid $grey-color;		
		box-shadow: 0 0 7px $grey-color;
	}
}