html {
	@include main-font();
}

body {
	background: #F2F2F2;
}

.main-central-block {		
	min-width: 320px;
	max-width: 1280px;
	margin: 0 auto;	
}

img {
	max-width: 100%;
	height: auto;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
}

@media (min-width: 320px) {
	.central-block {		
		width: 280px;
		margin: 0 auto;			
	}
	.main-central-block {
		width: 320px;
		box-shadow: 0 0 7px #ACACAC;		
	}
}

@media (min-width: 768px) {
	.central-block {		
		width: 84.6%;
		margin: 0 auto;			
	}
	.main-central-block {
		width: 100%;				
	}
}

@media (min-width: 1200px) {
	.central-block {		
		width: 85%;
		margin: 0 auto;			
	}
	.main-central-block {
		width: 1200px;				
	}
}