.main-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 2px #5B7E94;    
    z-index: 20;    
    a {
        display: block;
        min-height: 55px;
        background: $blue-color;
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 3.9rem;
        color: #ffffff;
        text-transform: uppercase;
        border-bottom: 1px solid #678FA8;
        border-top: 1px solid #9AC2DB;
        text-align: center;
    }
    a:hover {
        background: #669EC0;
    }
    a:active {
        background: #5496BD;
        color: #88B6D1;
    }
    &__close {
        width: 22px;
        height: 22px;
        position: absolute;
        top: 15px;
        right: 20px;
        cursor: pointer;        
    }
}

@media (min-width: 768px) {
   .main-menu {
        display: block;
        position: static;              
        z-index: 0;
        font-size: 0;
        box-shadow: none;                     
        &__close {
            display: none;
        }
        &__li {
            display: inline-block;
            vertical-align: top;
            width: 20%;
            text-align: center;
            height: 70px;                      
        }
        &__li--left {
            margin-left: 20%;
        }
        a {           
            display: inline;
            font-size: 1rem;
            line-height: 70px;            
            background: #ffffff;                        
            color: #000000;            
            border-bottom: none;
            border-top: none;            
        }
        a:hover {
            background: #ffffff; 
            color: $blue-color;
        }
        a:active {
            background: #ffffff;            
            color: $grey-color;
        }
    }
}