.main-footer {
    background: #ffffff;
    padding-top: 30px;
    padding-bottom: 20px;
    &__visitsedona {
        @include title-font2();
        text-align: center;
    }
}

@media (min-width: 768px) {
    .main-footer {
        padding-top: 0;
        padding-bottom: 0;
        min-height: 120px;
        .central-block {
            width: 84.6%;
            height: 120px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}