@mixin main-font() {
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 26px;
	color: #333333;
}

@mixin title-font() {
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-weight: bold;
	font-size: 1.2rem;
	line-height: 1.8rem;
	color: #333333;
	text-transform: uppercase;
}

@mixin text-font() {
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.8rem;
	color: #333333;
	text-transform: uppercase;
}

@mixin title-font2() {
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.8rem;	
	text-transform: uppercase;
}

@mixin title-font3() {
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-weight: bold;
	font-size: 1.5rem;
	line-height: 1.8rem;
	color: #333333;
	text-transform: uppercase;
}



@mixin item-title-font() {
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-weight: bold;
	font-size: 1rem;
	line-height: 1.8rem;
	color: #333333;
	text-transform: uppercase;
}

@mixin item-text-font() {
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.8rem;
	color: #333333;	
}

@mixin item-number-font() {
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-weight: bold;
	font-size: 1rem;
	line-height: 1.8rem;
	color: #333333;
	text-transform: uppercase;	
}


@mixin form-font() {
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-weight: bold;
	font-size: 1.2rem;
	line-height: 1.8rem;
	color: #333333;	
}