form.main-form(action="#" method="POST")
	.main-form__inner
		section.main-form__block.main-form__block--1
			.central-block
				h2.main-form__title Представьтесь:
				.main-form__name
					label ИМЯ*:
						input(type="text" name="main-form__name" placeholder="Ваше имя")
				.main-form__sur-name
					label ФАМИЛИЯ*:
						input(type="text" name="main-form__sur-name" placeholder="Ваша фамилия")
				.main-form__second-name
					label Отчество:
						input(type="text" name="main-form__second-name" placeholder="Ваше отчество")

	section.main-form__block.main-form__block--2
		.central-block
			h2.main-form__title Контактная информация:
			label.main-form__label(for="tel") Контактный телефон*:
			.main-form__tel
				input(id="tel" type="tel" name="main-form__tel" placeholder="Введите телефон")
				.main-form__icon-tel
					img(src="img/icon-phone.svg" alt="icon-phone")
			label.main-form__label(for="email") Электронная почта*:
			.main-form__email
				input(id="email" type="email" name="main-form__email" placeholder="Введите е-mail")
				.main-form__icon-email
					img(src="img/icon-mail.svg" alt="icon-mail")

	section.main-form__block.main-form__block--3
		.central-block
			h2.main-form__title Вaше общее впечатление:
			.main-form__radio
					input(id="radio1" type="radio" name="main-form__radio" checked)
					label(for="radio1") Скорее положительное
			.main-form__radio
					input(id="radio2" type="radio" name="main-form__radio")
					label(for="radio2") Скорее отрицательное
			.main-form__radio
					input(id="radio3" type="radio" name="main-form__radio")
					label(for="radio3") Затрудняюсь ответить

	section.main-form__block.main-form__block--4
		.central-block
			h2.main-form__title Посещенные достопримечательности:
			.main-form__check
					input(id="check1" type="checkbox" name="main-form__check" checked)
					label(for="check1") Мост Дьявола
			.main-form__check
					input(id="check2" type="checkbox" name="main-form__check" checked)
					label(for="check2") Слайд-парк
			.main-form__check
					input(id="check3" type="checkbox" name="main-form__check")
					label(for="check3") Гора-Колокол
			.main-form__check
					input(id="check4" type="checkbox" name="main-form__check" checked)
					label(for="check4") Красные скалы

	section.main-form__block.main-form__block--5
		.central-block
			h2.main-form__title Опишите свои эмоции:
			.main-form__text
				textarea(placeholder="Опишите подробно все свои восторги")
				input(type="submit" value="Отправить отзыв")