.review
	img.review__img(src="img/bg-intro-triangle-mobile.svg" alt="bg-intro-triangle-mobile")
	.central-block
		section.review__text-block
			h2.review__title Оставьте свой отзыв
				p.review__text Помогите нашим отелям стать лучше! оставьте отзыв о них, а также о посещенных вами достопримечательностях