doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(href="css/style.min.css" rel="stylesheet")
		block title
		script.
			document.createElement( "picture" );

	body
		.main-central-block
			include global/main-header
			block content
			include global/main-footer

		script(src="js/picturefill.min.js")
		script(src="js/main.min.js")