extends ../template

block title
	title index.html

block content
	include ../sections/index/inline-svg
	include ../sections/index/sedona
	include ../sections/index/five
	include ../sections/index/real-town
	include ../sections/index/services
	include ../sections/index/devil-bridge
	include ../sections/index/characteristic
	include ../sections/index/contacts