doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(href="css/main.css" rel="stylesheet")
		title index.html
		
	body
		.main-central-block
			header.main-header
				nav.main-menu.main-menu--mobile
					ul
						li
							a(href="index.html") Главная
							.main-menu__close
								img(src="img/icon-cross.svg" alt="icon-cross")
						li
							a(href="media.html") Фото и видео
						li
							a(href="form.html") Форма отзыва
						li
							a(href="#") HTML academy
				.central-block
					.main-header__logo
						img(src="img/logo-sedona-mobile.svg" alt="logo")
					.main-header__burger
						img(src="img/icon-menu.svg" alt="icon-menu")
					nav.main-menu
						ul
							li
								a(href="index.html") Главная
							li
								a(href="media.html") Фото и видео
							li
								a(href="form.html") Форма отзыва
							li
								a(href="#") HTML academy
			.sedona
				.central-block
					section.sedona__text
						img(src="img/text-sedona-index.svg" alt="text-sedona")

			.five
				img.five__img1(src="img/bg-intro-triangle-mobile.svg" alt="bg-intro-triangle-mobile")
				img.five__img2(src="img/bg-triangle.svg" alt="bg-triangle")
				.central-block
					section.five__text-block
						h2.five__title Седона — небольшой городок в аризоне, заслуживающий большего!
						p.five__text Рассмотрим 5 причин, по которым Седона круче чем гранд каньон!

			.real-town
				section.real-town__text-block
					.central-block
						.real-town__inner-block
							h2.real-town__title Настоящий городок
							.real-town__number — №1 —
							p.real-town__text Седона не аттракцион для туристов, там течет своя жизнь
				section.real-town__img
					img(src="img/photo-city-mobile@1x.jpg" alt="photo-city-mobile")

			.services
				.central-block
					article.services__items
						section.services__item
							.services__img
								img(src="img/icon-house.svg" alt="icon-house")
							h2.services__title Жилье
							p.services__text Рекомендуем пожить в настоящем мотеле, все как в кино!

						section.services__item
							.services__img
								img(src="img/icon-gift.svg" alt="icon-gift")
							h2.services__title Сувениры
							p.services__text Не только китайского, но и местного производства!

						section.services__item
							.services__img
								img(src="img/icon-burger.svg" alt="icon-burger")
							h2.services__title Еда
							p.services__text Всегда заказывайте фирменный бургер, вы не разочаруетесь!
