footer.main-footer
	.central-block
		section.main-footer__visitsedona #visitsedona

		include socials
		
		section.html-academy
			.html-academy__text Разработано
			svg.html-academy__logo
				title html academy
				use(xlink:href="#logo-htmlacademy")