nav.main-menu
	.main-menu__close
		img(src="img/icon-cross.svg" alt="icon-cross")
	ul
		li
			a(href="index.html") Главная		
		li
			a(href="photo.html") Фото и видео
		li.main-menu__left
			a(href="form.html") Форма отзыва
		li
			a(href="#") HTML academy
