mixin socials
	section.socials
		each social in ["#icon-twitter", "#icon-facebook", "#icon-youtube"]
			a.socials__link(href="#")
				svg.socials__svg.socials__svg--tw
					title twitter
					use(xlink:href=`${social}`)