section.socials
	a.socials__link(href="#")
		svg.socials__svg.socials__svg--tw
			title twitter
			use(xlink:href="#icon-twitter")
	a.socials__link(href="#")
		svg.socials__svg.socials__svg--fb
			title facebook
			use(xlink:href="#icon-facebook")
	a.socials__link(href="#")
		svg.socials__svg.socials__svg--youtube
			title youtube
			use(xlink:href="#icon-youtube")