.characteristic {
    background: $grey-color;
    &__item {
        margin-top: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #D6D6D6;
    }
    &__item:last-child {
        border-bottom: none;
    }
    &__title {
        @include title-font();
        text-align: center;
    }
    &__number {
        @include text-font();
        text-align: center;
    }
    &__text {
        @include text-font();
        text-align: center;
    }
}

@media (min-width: 768px) {
    .characteristic {        
        padding-top: 20px;
        padding-bottom: 30px;
        .central-block {
            width: 100%;
        }
        &__items {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;                                            
        }
        &__item {
            width: 33%;           
            border: none;
            margin-top: 20px;                      
        }        
        &__title {
            @include title-font3();
            width: 120px;
            margin: 0 auto;            
        }
        &__number {
            margin-top: 20px;            
        }
        &__text {
            @include text-font();            
            width: 66%;
            margin: 0 auto;
            margin-top: 20px;
        }
        
    }
}