.devil-bridge {
    &__text-block {
        background: $blue-color;
        padding-top: 25px;
        padding-bottom: 20px;
    }
    &__title {
        @include title-font();
        color: #ffffff;
        text-align: center;
    }
    &__number {
        @include text-font();
        color: #ffffff;
        text-align: center;
    }
    &__text {
        @include text-font();
        color: #ffffff;
        text-align: center;
    }
    &__img {
        height: 260px;
    }
}