.real-town {
    &__text-block {
        background: $blue-color;
        padding-top: 60px;
        padding-bottom: 20px;
    }
    &__title {
        @include title-font();
        color: #ffffff;
        text-align: center;
    }
    &__number {
        @include text-font();
        color: #ffffff;
        text-align: center;
    }
    &__text {
        @include text-font();
        color: #ffffff;
        text-align: center;
    }
    &__img {
        height: 260px;
    }
}

@media (min-width: 768px) {
    .real-town {        
        display: flex;
        justify-content: space-between;
        .central-block {
            height: 256px;
            width: 64%;            
            display: flex;
            justify-content: center;
            align-items: center;
        }        
        &__text-block {            
            padding-top: 0;            
            padding-bottom: 0;
            width: 33%;
            max-width: 420px;             
            flex-shrink: 0;
        }        
        &__title {
          @include title-font3();
          color: #ffffff;
        }       
        &__img {
            height: 256px;
            width: 67%;
            flex-grow: 1;
            overflow: hidden;
        }
    }
}