.sedona {
		min-height: 389px;
		background: url("../img/bg-back-mobile@1x.jpg") no-repeat center top #E4F1F9;		
		background-size: 768px auto;		
		@media (min-resolution: 144dpi),
	   		(min-resolution: 1.5dppx) {
				& {
				background-image: url("../img/bg-back-mobile@2x.jpg");
			}
		}						
		.central-block {
			height: 389px;
			display: flex;		
		}		
		&__text {			
			width: 280px;
			margin: auto;
		}
	}	

@media (min-width: 768px) {
	.sedona {
		min-height: 518px;		
		background: url("../img/bg-back-desktop@1x.jpg") no-repeat center center #E4F1F9;
		background-size: 1200px auto;
		@media (min-resolution: 144dpi),
	   	(min-resolution: 1.5dppx) {
			& {
				background-image: url("../img/bg-back-desktop@2x.jpg");
			}
		}			
		.central-block {
			height: 518px;					
		}		
		&__text {
			width: 460px;			
		}
	}	
}