@media (max-width: 767px) {
	.sedona {
		min-height: 389px;
		background: url(../img/bg-back-mobile@1x.jpg) no-repeat center top #E4F1F9;
		background-size: 768px auto;			
		.central-block {
			height: 389px;
			display: flex;		
		}		
		&__text {
			width: 280px;
			margin: auto;
		}
	}
}

@media (max-width: 767px) and
	   (min-resolution: 144dpi),
	   (min-resolution: 1.5dppx) {
			.sedona {
				background: url("../img/bg-back-mobile@2x.jpg");
			}
		}	


