.services {
    background: #ffffff;
    padding-top: 25px;
    padding-bottom: 10px;
    &__item {
        position: relative;
        padding-left: 60px;
        margin-bottom: 20px;
    }
    &__img {
        width: 40px;
        height: 40px;
        position: absolute;
        top: -10px;
        left: 0;
    }
    &__title {
        @include title-font();
    }
    &__text {
        @include text-font();
        width: 210px;
    }
}

@media (min-width: 768px) {
    .services {        
        padding-top: 60px;
        padding-bottom: 20px;
        .central-block {
            width: 100%;
        }
        &__items {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;                                
        }
        &__item {
            width: 33%;            
            padding-left: 0;
            padding-top: 80px;
            margin-bottom: 40px;           
        }
        &__item--2 {
            order: 1;
        }
        &__img {
            width: 80px;
            height: 70px;            
            top: 0;
            left: 50%;
            margin-left: -40px;
        }
        &__title {
            @include title-font3();
            text-align: center;
        }
        &__text {
            @include text-font();
            text-align: center;
            width: 64%;
            margin: 0 auto;
        }
        &__text--2 {
            width: 65%;
        }
    }
}