.photo-video {
    min-height: 190px;
    background: #ffffff;
    position: relative;
    border-bottom: 1px solid #E5E5E5;    
    .central-block {
        height: 190px;
        display: flex;
    }
    &__img {
        position: absolute;
        top: -26px;
        left: 0;
    }
    &__text-block {
        margin: auto;
    }
    &__title {
        @include title-font();
        text-align: center;
    }
    &__text {
        @include text-font();
        font-weight: normal;
        text-align: center;
        width: 270px;
    }
}

@media (min-width: 768px) {
    .photo-video {
        min-height: 220px;
        border-bottom: none;        
        .central-block {
            height: 220px;            
        }
        &__img {
            top: -57px;
            width: 768px;
            left: 50%;
            margin-left: -384px;
        }        
        &__title {
            @include title-font4();
        }
        &__text {           
            width: 430px;
            margin-top: 30px;
        }
    }
}

@media (min-width: 1200px) {
    .photo-video {        
        &__img {
            top: -57px;            
            width: 1200px;
            margin-left: -600px;            
        }       
    }
}