header.main-header
	.main-header__burger
		img(src="img/icon-menu.svg" alt="icon-menu")
	nav.main-menu.main-menu--mobile
		ul
			li
				a(href="index.html") Главная
				.main-menu__close
					img(src="img/icon-cross.svg" alt="icon-cross")
			li
				a(href="media.html") Фото и видео
			li
				a(href="form.html") Форма отзыва
			li
				a(href="#") HTML academy

	.central-block
		.main-header__logo
			img(src="img/logo-sedona-mobile.svg" alt="logo")
		nav.main-menu
			ul
				li
					a(href="index.html") Главная
				li
					a(href="media.html") Фото и видео
				li
					a(href="form.html") Форма отзыва
				li
					a(href="#") HTML academy