footer.main-footer
	.central-block
		section.main-footer__visitsedona #visitsedona
		section.socials
			a.socials__link(href="#")
				svg.socials__svg.socials__svg--tw 
					title twitter 
					use(xlink:href="#icon-twitter")
			a.socials__link(href="#")
				svg.socials__svg.socials__svg--fb 
					title facebook 
					use(xlink:href="#icon-facebook")
			a.socials__link(href="#")
				svg.socials__svg.socials__svg--youtube 
					title youtube
					use(xlink:href="#icon-youtube")
		section.html-academy
			.html-academy__text Разработано
			svg.html-academy__logo
				title html academy
				use(xlink:href="#logo-htmlacademy")