-
	var obj = [
		{
			img: '<picture><source media="(min-width:1200px)" srcset="img/photo-1-desktop@1x.jpg, img/photo-1-desktop@2x.jpg 2x"><source media="(min-width:768px)" srcset="img/photo-1-tablet@1x.jpg, img/photo-1-tablet@2x.jpg 2x"><img src="img/photo-1-mobile@1x.jpg" srcset="img/photo-1-mobile@2x.jpg 2x" alt="photo-1"></picture>',
			title: 'Неродные просторы',
			text: 'Автор фото: Борис',
			number: '1350'
		},
		{
			img: '<picture><source media="(min-width:1200px)" srcset="img/photo-2-desktop@1x.jpg, img/photo-2-desktop@2x.jpg 2x"><source media="(min-width:768px)" srcset="img/photo-2-tablet@1x.jpg, img/photo-2-tablet@2x.jpg 2x"><img src="img/photo-2-mobile@1x.jpg" srcset="img/photo-2-mobile@2x.jpg 2x" alt="Местная растительность"></picture>',
			title: 'Местная растительность',
			text: 'Автор фото: Борис',
			number: '143'
		},
		{
			img: '<picture><source media="(min-width:1200px)" srcset="img/photo-3-desktop@1x.jpg, img/photo-3-desktop@2x.jpg 2x"><source media="(min-width:768px)" srcset="img/photo-3-tablet@1x.jpg, img/photo-3-tablet@2x.jpg 2x"><img src="img/photo-3-mobile@1x.jpg" srcset="img/photo-3-mobile@2x.jpg 2x" alt="Дорога на север"></picture>',
			title: 'Дорога на север',
			text: 'Автор фото: Петр',
			number: '96'
		},
		{
			img: '<picture><source media="(min-width:1200px)" srcset="img/photo-4-desktop@1x.jpg, img/photo-4-desktop@2x.jpg 2x"><source media="(min-width:768px)" srcset="img/photo-4-tablet@1x.jpg, img/photo-4-tablet@2x.jpg 2x"><img src="img/photo-4-mobile@1x.jpg" srcset="img/photo-4-mobile@2x.jpg 2x" alt="Мост дъявола"></picture>',
			title: 'Мост дьявола',
			text: 'Автор фото: Антон',
			number: '254'
		}
	]