.photo-video
	img.photo-video__img(src="img/bg-intro-triangle-mobile.svg" alt="bg-intro-triangle-mobile")
	.central-block
		section.photo-video__text-block
			h2.photo-video__title Фото и видео
				p.photo-video__text Не можете решиться на путешествие из-за курса? Фотографии помогут вам забыть о политике и экономике

