.video
	section.video__block
		.video__text-block
			.central-block
				h2.video__title Все еще сомневаетесь?
				p.video__text Смотрите видеопрезентацию и скорее за билетами, пока они не подорожали в очередной раз!
	section.video__img
		img(src="img/video-mobile@1x.jpg" alt="video")
		.video__nav
			.video__nav1
			.video__nav2
				svg.video__btn1(style="width:10px; height: 10px;")
					title
					use(xlink:href="")
				
				svg.video__btn2(style="width:10px; height: 10px;")
					title
					use(xlink:href="")
				
				svg.video__btn3(style="width:10px; height: 10px;")
					title
					use(xlink:href="")